.home {
    height: 100vh;
    width: 100%;
    background-size: cover; 
    display: flex; 
    position: relative;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 4rem;
}

.header {
    position: absolute;
    top: 45%;
    left: 5%; 
    transform: translateY(-50%);
    text-align: left;
    color: var(--color-light);
}

.description {
	display: grid;
	align-items: center;
    height: 60vh;
    color: rgba(0, 0, 0, 0.795);
    background-color: var(--color-primary-variant);
    font-size: large;
    padding: 4rem;
  
}

.header_paragraph{
    margin: 0 auto;
    max-width: 65rem;
    font-family: cursive;
}
  

  /* Media Queries (MD size) */
  @media screen and (max-width: 1024px) {
    .home {
      height: 75vh;
    }
  }
  
  /* Media Queries (SM size) */
  @media screen and (max-width: 600px) {
    .home {
      height: 110vh;
    }
  
    h1 {
      font-size: 2.5rem; /* Adjust for smaller screens */
    }

    .description{
        font-size: small;
    
    }
}

